*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------UTILITIES----------------- */

.flex{
    display: flex;
}

.container{
    padding: 1rem 0 1rem 1rem;
}

.wrap{
    flex-wrap: wrap;
}

/* --------------------BODY---------------------- */

body{
    font-family: 'Montserrat', sans-serif;
}

div.wrapper{
    height: calc(100vh - 80px);    
}

/* --------------------HEADER-------------------- */

header{
    width: 230px;
    background-color: black;
}

/* --------------------MAIN---------------------- */

main{
    background-color: #141922;
    width: calc(100vw - 230px);
    overflow: auto;
    overflow-x: hidden;
}

main section.upgrade{
    height: 80px;
    background-color: #080B12;
}

main section.nav-elements{
    height: 60px;
}

main section.container{
    color: #FFFFFF;
}

section.container h2{
    margin-bottom: 2rem;
}

div.rp-albums div.rp-album{
    width: calc(100% / 6 - 1rem);
    margin-right: 1rem;
}

div.cover{
    margin-bottom: 1rem;
}

div img{
    max-width: 100%;
}

div.info{
    text-align: center;
}

span{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

div.info span.album-name{
    font-size: 13px;
}

div.info span.album-other,
h2 span
{
    color: #707277;
    font-size: 11px;
}

h2 span{
    margin-top: 0.5rem;
}

section.popular-artists img{
    border-radius: 100%;
}

/* --------------------FOOTER-------------------- */

footer{
    background-color: #282828;
    width: 100vw;
    height: 80px;
}

/* --------------------MEDIUM-------------------- */
/* --------------------MEDIUM-------------------- */

@media screen and (max-width: 991px){
    div.rp-albums div.rp-album{
        width: calc(100% / 4 - 1rem);
    }    
}

/* --------------------SMALL--------------------- */
/* --------------------SMALL--------------------- */

@media screen and (max-width: 767px){
    div.rp-albums div.rp-album{
        width: calc(100% / 2 - 1rem);
    }
}

/* --------------------X-SMALL------------------- */
/* --------------------X-SMALL------------------- */

@media screen and (max-width: 575px){
    header{
        width: 40px;
    }

    main{
        width: calc(100vw - 40px);
    }
}